{% extends 'base.html' %}

{% block title %}
<title>User Service</title>
{% endblock %}


{% block body %}
  <main>
    <div class="container">
      {% if not users %}<h3>There are no records in the Database. Create users.</h3>{% else %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Emails</th>
              <th scope="col">Phone Numbers</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for el in users %}
            <tr>
              <th scope="row">{{ el.id }}</th>
              <td>{{ el.firstName }}</td>
              <td>{{ el.lastName }}</td>
              <td>{{ el.emails }}</td>
              <td>{{ el.phoneNumbers }}</td>
              <td><button class="btn btn-link" type="submit">Edit</button> <button class="btn btn-link" onclick="location.href='/delete/{{ el.id }}'">Delete</button></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </main>
{% endblock %}