{% extends 'base.html' %}

{% block title %}
<title>User Service</title>
{% endblock %}


{% block body %}
  <main>
    <div class="container">
      {% if not users %}<h3>There are no records in the Database. Create users.</h3>{% else %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Emails</th>
              <th scope="col">Phone Numbers</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for user, emails, phoneNumbers in users %}
            <tr>
              <th scope="row">{{ user.id }}</th>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>
                {% set emails = emails.split(',') %}
                {% for email in emails %}
                  {{email}}<br/>
                {% endfor %}
              </td>
              <td>
                {% set phoneNumbers = phoneNumbers.split(',') %}
                {% for phoneNumber in phoneNumbers %}
                  {{phoneNumber}}<br/>
                {% endfor %}
              </td>
              <td><button class="btn btn-link" onclick="location.href='/edit/{{ user.id }}'">Edit</button> <button class="btn btn-link" onclick="location.href='/delete/{{ user.id }}'">Delete</button></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </main>
{% endblock %}